:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
}

/* Стили для index.html */
.body {
  background: #e5e5e5;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

.logo {
  color: #000000;
}

/* Site nav */
.site-nav .link {
  color: var(--section-title-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* Site-contacts */
.site-contacts .link {
  color: var(--primary-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: #ffffff;
}
/* Section */

.section-title {
  color: var(--section-title-color);
}

/* Features */
.features-list .title {
  color: var(--section-title-color);
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: var(--section-title-color);
}

.employees .list {
  color: var(--section-title-color);
}
/* Button */

.button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

/* Стили для portfolio.html */
