:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;

  --dark-bcg-cl: #2f303a;
  --button-bcg-cl: #f5f4fa;
}

/* Стили для index.html */
.body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--section-title-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* Site-contacts */
.site-contacts .link {
  color: var(--primary-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--dark-bcg-cl);
}
.hero-title {
  color: #ffffff;
}
/* Section */

.section-title {
  color: var(--section-title-color);
}

/* Features */
.features-list .title {
  color: var(--section-title-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Team */

.team {
  background-color: #f5f4fa;
}

.master .list {
  color: var(--section-title-color);
}
/* Button */

.button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

/* Footer */

.footer {
  background-color: var(--dark-bcg-cl);
}

.address {
  color: var(--button-text-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.filters {
  color: var(--section-title-color);
  background-color: var(--button-bcg-cl);
}
